@import 'settings.colors.scss';
@import 'settings.global.scss';

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}


.question-container {
  width: 80%;
  margin: 0 auto;

  .question {
    color: $color-main;
    font-size: 5em;
    font-weight: $global-weight-bold;
  }

  .question-svg {
    opacity: 0.5;
    position: absolute;
    right: 10%;
    bottom: 10%;
    animation: float 10s ease-in-out infinite;
  }

  .question-points{
    margin-top: 1em;
    font-size: 2.5em;
    span {
      color: $color-main;
    }
  }

  .question-indications {
    width: 80%;
    margin-top: 2em;
    color: $color-gray;
  }
}