@keyframes floatDown {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-10px);
  }
  100% {
    transform: translatey(0px);
  }
}

@keyframes floatUp {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(+10px);
  }
  100% {
    transform: translatey(0px);
  }
}

.checkmark {
  position: absolute;
  width: 100%;
  height: 100%;
  &.up {
    animation: floatUp 6s ease-in-out infinite;
  }

  &.down {
    animation: floatDown 6s ease-in-out infinite;
  }
}