@import 'settings.colors.scss';
@import 'settings.global.scss';

.total-score-page {

  .score-header {
    font-size: 1.5em;
    margin: 1em 0;
  }

  .winner-group, .team-group {
    background-color: white;
    padding: 16px 32px;
    border-radius: 10px;
    margin-bottom: 1.5em;

    div:first-of-type {
      color: $color-main;
      font-size: 2em;
      font-weight: $global-weight-bold;
    }
  }
}