@keyframes floatDown {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-10px);
  }
  100% {
    transform: translatey(0px);
  }
}

@keyframes floatUp {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(+10px);
  }
  100% {
    transform: translatey(0px);
  }
}

.float-baloon {
  &.up {
    animation: floatUp 6s ease-in-out infinite;
  }

  &.down {
    animation: floatDown 6s ease-in-out infinite;
  }
  opacity: 0.8;
  position: absolute;
}