@import 'settings';
@import 'tools.mq';

body {
  margin: 0;
}

.App {
  width: 100vw;
  height: 100vh;

  // .timer-wrapper {
  //   right: 20%;
  //   top: 10%;
  // }

  &.bg-gray {
    background-color: $default-color-background;
  }

  @include mq($from: tablet) {
    padding: $global-spacing-unit 5%;
  }
}
