@import 'settings.colors';

html {
  background-color:  $default-color-background;
  overflow-x: hidden;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  color: $color-dark;
  background-color: $default-color-background;
}