@import 'settings.colors.scss';
@import 'settings.global.scss';

.answers-page {
  width: 50%;
  margin: 0 auto;
  position: relative;
  bottom: 24px;

  .question {
    font-size: 1.6em;
    margin-bottom: 24px;
  }

  .answer-line {
    opacity: 0.8;
    position: absolute;
    z-index: 1;
  }

  .answers {
    width: 100%;
    .fake-answer {
      display: flex;
      justify-content: space-between;
      font-size: 2em;
      color: $color-main;
      margin-bottom: 16px;
      font-weight: $global-weight-bold;

      div {
        background-color: white;
        padding: 16px 32px;
        border-radius: 10px;
      }

      .answer-square {
        word-break: break-word;
        width: 90%;
      }

      .counter {
        margin-right: 20px;
      }
    }
  }
}